# limina M1 spike: serial console. libkrun PL011 is the first MMIO device at 0x0a001000
# (MMIO_MEM_START 0x0a000000 + MMIO_LEN). earlycon binds the kernel console there.
set timeout=2
set default=0
terminal_output console
search --no-floppy --fs-uuid --set=root 572bbaa7-43f9-4a0f-bfa7-28854a3e2b78
menuentry "Fedora 43 (limina serial console)" {
    linux ($root)/vmlinuz-6.19.13-200.fc43.aarch64 root=UUID=bad1888f-d2d7-43cd-b70c-4e6f36df4c66 ro rootflags=subvol=root earlycon=pl011,mmio32,0x0a001000 keep_bootcon console=ttyAMA0,115200 console=tty0 ignore_loglevel
    initrd ($root)/initramfs-6.19.13-200.fc43.aarch64.img
}
menuentry "Fedora 43 normal (chainload BLS)" {
    configfile ($root)/grub2/grub.cfg
}
