<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>bait</string>
	<key>CFBundleIdentifier</key>
	<string>dev.limina.spike.gamemode-bait</string>
	<key>CFBundleName</key>
	<string>GameModeBait</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSSupportsGameMode</key>
	<true/>
	<key>GCSupportsGameMode</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
